body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffd31d;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
